$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-left: unquote('"\\e900"');
$icon-phone: unquote('"\\e908"');
$icon-user: unquote('"\\e907"');
$icon-alert-triangle: unquote('"\\e903"');
$icon-info-circle: unquote('"\\e902"');
$icon-checkout-info: unquote('"\\e901"');
$icon-dots-vertical: unquote('"\\ea48"');
$icon-add: unquote('"\\e927"');
$icon-align-right: unquote('"\\e928"');
$icon-back: unquote('"\\e929"');
$icon-check: unquote('"\\e92a"');
$icon-chevron-right: unquote('"\\e92b"');
$icon-copy: unquote('"\\e92c"');
$icon-delete: unquote('"\\e92d"');
$icon-download: unquote('"\\e92e"');
$icon-dropdown: unquote('"\\e92f"');
$icon-equel: unquote('"\\e930"');
$icon-eye: unquote('"\\e931"');
$icon-eye-off: unquote('"\\e932"');
$icon-ic_cancel: unquote('"\\e933"');
$icon-lightning: unquote('"\\e936"');
$icon-link: unquote('"\\e937"');
$icon-menu: unquote('"\\e938"');
$icon-minus: unquote('"\\e939"');
$icon-moon: unquote('"\\e93a"');
$icon-more: unquote('"\\e93b"');
$icon-pin: unquote('"\\e93c"');
$icon-plus: unquote('"\\e93d"');
$icon-send-message: unquote('"\\e93e"');
$icon-share: unquote('"\\e93f"');
$icon-x-close: unquote('"\\e943"');

